<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Render</string>
	<key>CFBundleExecutable</key>
	<string>RenderHost</string>
	<key>CFBundleIdentifier</key>
	<string>com.samarthab.RenderHost</string>
	<key>CFBundleName</key>
	<string>RenderHost</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Render uses your Reminders to display and update reminders in your desktop widgets.</string>
</dict>
</plist>
